<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio: Arash Tarafar</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/page.css">
    <script src="js/script.js" defer></script>
</head>
<body>
    <header id="top">
        <div class="hero container" id="about">
            <nav class="topbar">
                <p class="menu-mobile">MENU</p>
                <ul class="menu">
                    <li class="menu-link"><a href="./">About</a></li>
                    <li class="menu-link"><a href="./experience">Experience</a></li>
                    <li class="menu-link"><a href="./projects">Projects</a></li>
                    <li class="menu-link"><a href="./skills">Skills</a></li>
                    <li class="menu-link"><a href="./education">Education</a></li>
                </ul>
                <div class="darkmode-toggle">
                    <i class="bi bi-brightness-high-fill toggle-icon"></i>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <a class="anchor" id="projects"></a>
        <section class="container section-projects">
            <h2>MY PROJECTS</h2>
            <a class="anchor" id="graphics"></a>
            <div class="project-field projects-graphics">
                <div class="columns">
                    {{#each projects}}
                        <div class="project col-4 col-sm-12 col-lg-6 col-md-12">
                            <img src="{{ projectThumbnail }}" alt="Project Thumbnail" class="project-thumbnail">
                            <p class="project-name">{{ projectName }}</p>
                            <a href="{{ projectURL }}" class="project-link" target="_blank">Take a Look</a>
                            <p class="project-description">{{ projectDescription }}</p>
                        </div>
                    {{/each}}
                    {{!-- <div class="project col-4 col-sm-12 col-lg-6 col-md-12">
                        <img src="media/img/project-graphic-1.png" alt="Project Thumbnail" class="project-thumbnail">
                        <p class="project-name">Visual Identity Guidelines: Lush</p>
                        <a href="https://drive.google.com/file/d/1HSc1aVq66CP2O-rnDndd8XUr-xDYVkRF/view?usp=sharing" class="project-link" target="_blank">Take a Look</a>
                        <p class="project-description">In this course project, I made a visual identity guideline document for Lush, an imaginary beauty products company.</p>
                    </div>
                    <div class="project col-4 col-sm-12 col-lg-6 col-md-12">
                        <img src="media/img/project-graphic-2.png" alt="Project Thumbnail" class="project-thumbnail">
                        <p class="project-name">Printed Magazine: Plants and Gardening</p>
                        <a href="https://drive.google.com/file/d/10018Q1Kq_sbB5-MQRdFVSJzbv_7rE6VA/view?usp=sharing" class="project-link" target="_blank">Take a Look</a>
                        <p class="project-description">This collaborative course project, put my skills in creating layouts and graphics in Illustrator and InDesign, as well as photo editing in Lightroom, to the test.</p>
                    </div>
                    <div class="project col-4 col-sm-12 col-lg-6 col-md-12">
                        <img src="media/img/project-graphic-3.png" alt="Project Thumbnail" class="project-thumbnail">
                        <p class="project-name">Logo Concepts: JUPS</p>
                        <a href="#" class="project-link"></a>
                        <p class="project-description">To start off my work in the Jönköping University public speaking association, I proposed logo concepts to the board. The final logo is going to represent the association in the real world, on our website, and in social media.</p>
                    </div>
                    <div class="project col-4 col-sm-12 col-lg-6 col-md-12">
                        <img src="media/img/project-web-1.png" alt="Project Thumbnail" class="project-thumbnail">
                        <p class="project-name">Space Game: Javascript Game</p>
                        <a href="https://ju-nmd2022.github.io/fop-lunar-lander-arashtarafar/" class="project-link" target="_blank">Take a Look</a>
                        <p class="project-description">A simple javascript space game with minimalistic design, similar to the famous Lunar Lander game.</p>
                    </div>
                    <div class="project col-4 col-sm-12 col-lg-6 col-md-12">
                        <img src="media/img/project-web-2.png" alt="Project Thumbnail" class="project-thumbnail">
                        <p class="project-name">No Monkey Business: Javascript Game</p>
                        <a href="https://ju-nmd2022.github.io/fop-final-project-project-34/" class="project-link" target="_blank">Take a Look</a>
                        <p class="project-description">This game was designed to be simple, annoying, and addictive. A lesson in effectiveness learned from games like Flappy Bird and Skippy Squirrel.</p>
                    </div>
                    <div class="project col-4 col-sm-12 col-lg-6 col-md-12">
                        <img src="media/img/project-web-3.png" alt="Project Thumbnail" class="project-thumbnail">
                        <p class="project-name">The Wandering: Javascript Game</p>
                        <a href="https://ju-nmd2022.github.io/wuid-adventure-game-arashtarafar/" class="project-link" target="_blank">Take a Look</a>
                        <p class="project-description">This RPG-style game has elements of lore that are reminiscent of the Dark Souls and Elden Ring universe.</p>
                    </div>
                    <div class="project col-4 col-sm-12 col-lg-6 col-md-12">
                        <img src="media/img/project-photography-1.png" alt="Project Thumbnail" class="project-thumbnail">
                        <p class="project-name">Lifestyle Shoot: Fairwell Pubcrawl 2023</p>
                        <a href="#" class="project-link"></a>
                        <p class="project-description">Accompanying the groups in our university's fairwell pub event in the summer of 2023, I captured the memories and heat of the drinking and social games.</p>
                    </div>
                    <div class="project col-4 col-sm-12 col-lg-6 col-md-12">
                        <img src="media/img/project-photography-2.png" alt="Project Thumbnail" class="project-thumbnail">
                        <p class="project-name">Portrait Shoot: Social Media</p>
                        <a href="#" class="project-link"></a>
                        <p class="project-description">This unpaid photography and editing job, put my skills to the test, and supplied my client with an array of photos to showcase on their instagram and Tinder accounts.</p>
                    </div> --}}
                </div>
            </div>
        </section>
    </main>
    <footer class="container">
        <div class="columns">
            <div class="contacts col-12">
                <span class="prompt">CONTACT ME:</span> <span class="phone">+46 070 9678 449</span> <span class="email">arashtarafar@gmail.com</span> <a href="https://www.linkedin.com/in/arashtarafar/" target="_blank" class="linkedin">linkedin.com/in/arashtarafar</a>
            </div>
            <a class="backtotop" href="#top">↑</a>
        </div>
        <p class="copyright">All Rights Reserved. Arash Tarafar, 2023</p>
    </footer>
</body>
</html>